body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #00768d; }

a {
  color: #00768d; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 25pt; }

h3 {
  font-size: 13pt; }

p, li {
  color: #636363;
  font-size: 15pt;
  line-height: 19.5pt; }

.content {
  width: 1229px;
  height: 100%;
  margin: 0 auto; }

header {
  width: 100%;
  height: 155px;
  min-height: 132px; }
  header .content {
    margin-right: 23%;
    width: 100%; }
    header .content .right, header .content .left {
      float: left;
      width: 50%;
      height: 100%; }
    header .content .right #logo {
      float: left;
      margin-top: 48px;
      margin-left: 37%; }
      header .content .right #logo a {
        display: block; }
      header .content .right #logo img {
        width: 100%; }

.nav {
  float: right;
  display: block;
  background: url("../img/menu.png") 76px top no-repeat;
  height: 24px;
  width: 104px;
  position: absolute;
  top: 6.7%;
  left: 78.8%; }
  .nav #menu-text {
    margin-top: 3px;
    display: inline-block;
    font-size: 14pt;
    text-transform: uppercase; }

#navigation-menu {
  display: none;
  position: absolute;
  background-color: #ebebeb;
  height: 100%;
  width: 22%;
  right: 0px;
  top: 0px;
  min-width: 162px; }
  #navigation-menu .nav {
    float: none;
    position: absolute;
    top: 6.7%;
    left: 2%;
    background: url("../img/menu.png") 76px top no-repeat;
    margin-left: 7px; }
  #navigation-menu ul {
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 11%; }
    #navigation-menu ul .active {
      background-color: #31af90; }
      #navigation-menu ul .active a {
        color: white; }
    #navigation-menu ul li {
      padding: 10px; }
    #navigation-menu ul a {
      text-decoration: none;
      display: block; }
  #navigation-menu:hover {
    cursor: pointer; }

article {
  background: url("../img/home-bg.png") center top;
  background-size: auto;
  border: 1px solid #cccccc;
  border-left: 0px;
  border-right: 0px;
  height: auto;
  width: 100%;
  margin: 0 auto; }
  article .banner {
    background: url("../img/sub-page-banner-bg.png") left top no-repeat;
    border-bottom: 30px solid #ebebeb; }
    article .banner .content {
      text-align: center; }
      article .banner .content img {
        width: 100%; }
      article .banner .content img.mobile, article .banner .content img.tablet {
        display: none; }
  article .content-area-container {
    width: 100%;
    display: block; }
    article .content-area-container .description {
      max-width: 1229px;
      margin: 0 auto; }
      article .content-area-container .description .menu {
        float: left;
        width: 25%; }
        article .content-area-container .description .menu ul {
          list-style: none; }
          article .content-area-container .description .menu ul li.active span {
            color: white; }
          article .content-area-container .description .menu ul li {
            width: 76%;
            min-height: 69px;
            cursor: pointer;
            padding: 0 0 0 75px; }
            article .content-area-container .description .menu ul li span {
              padding-top: 21px;
              display: block;
              font-size: 15pt;
              text-transform: uppercase;
              width: 197px;
              color: #d8d8d8; }
            article .content-area-container .description .menu ul li:first-child {
              background: url("../img/cleanse-nav-icon-off.png") 10px 10px no-repeat; }
            article .content-area-container .description .menu ul li:first-child.active {
              background: url("../img/cleanse-nav-icon.png") 10px 10px no-repeat;
              background-color: #31af90; }
            article .content-area-container .description .menu ul li:nth-child(2) {
              background: url("../img/mgmt-nav-icon-off.png") 10px 10px no-repeat; }
            article .content-area-container .description .menu ul li:nth-child(2).active {
              background: url("../img/mgmt-nav-icon.png") 10px 10px no-repeat;
              background-color: #31af90; }
            article .content-area-container .description .menu ul li:nth-child(3) {
              background: url("../img/market-nav-icon-off.png") 10px 10px no-repeat; }
            article .content-area-container .description .menu ul li:nth-child(3).active {
              background: url("../img/market-nav-icon.png") 10px 10px no-repeat;
              background-color: #31af90; }
      article .content-area-container .description .content-area {
        display: none;
        float: left;
        width: 68%;
        background: url("../img/content-bg.png") left top repeat-x;
        margin-bottom: 20px; }
        article .content-area-container .description .content-area .subheader {
          margin: 20px 0; }
          article .content-area-container .description .content-area .subheader h1 {
            text-transform: none;
            padding-top: 0px; }
        article .content-area-container .description .content-area h1 {
          color: white;
          padding: 19px 0 0 42px;
          display: inline-block; }
        article .content-area-container .description .content-area .floated-text {
          width: 88%;
          padding: 30px 0px 0px 42px; }
          article .content-area-container .description .content-area .floated-text ul {
            margin: 0.75em 0;
            padding: 0 1em;
            list-style: none; }
          article .content-area-container .description .content-area .floated-text li:before {
            content: "";
            border-color: transparent #00768d;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: inline-block;
            height: 0;
            width: 0; }
          article .content-area-container .description .content-area .floated-text li {
            margin-bottom: 20px; }
            article .content-area-container .description .content-area .floated-text li span {
              margin-left: 10px; }
          article .content-area-container .description .content-area .floated-text p {
            margin-bottom: 20px; }
          article .content-area-container .description .content-area .floated-text img {
            margin-left: 20px; }
        article .content-area-container .description .content-area .content-text {
          clear: both;
          padding-bottom: 30px; }
          article .content-area-container .description .content-area .content-text ul {
            padding-left: 20px; }
          article .content-area-container .description .content-area .content-text p {
            margin-bottom: 20px; }
        article .content-area-container .description .content-area .floated-img {
          width: 28%;
          margin-top: 20px; }
        article .content-area-container .description .content-area .floated-img.right {
          width: 28%; }
      article .content-area-container .description .content-area.active {
        display: block; }
  article .content .left {
    width: 60%;
    height: 100%; }
    article .content .left .hero-msg {
      display: block;
      width: 90%; }
      article .content .left .hero-msg img {
        float: left;
        margin-top: 11%;
        margin-left: 5%;
        width: 100%; }
    article .content .left .feature-links {
      display: inline-block;
      padding: 23px 0px 0px 10px;
      margin: 11% 0 5% 11%;
      background: white;
      height: 295px; }
      article .content .left .feature-links #construction {
        font-size: 34px;
        font-weight: bold;
        padding-bottom: 16px;
        display: block;
        text-align: center; }
      article .content .left .feature-links ul {
        list-style: none; }
        article .content .left .feature-links ul li {
          height: 81px; }
          article .content .left .feature-links ul li a {
            text-decoration: none;
            margin: 7% 0 0 29%;
            display: inline-block; }
            article .content .left .feature-links ul li a img {
              width: 100%; }
        article .content .left .feature-links ul #mgmt {
          background: url("../img/icons_1.png") left top no-repeat;
          -webkit-background-size: 23%;
          -moz-background-size: 23%;
          -o-background-size: 23%;
          background-size: 23%; }
        article .content .left .feature-links ul #cleanse {
          background: url("../img/icons_2.png") left top no-repeat;
          -webkit-background-size: 23%;
          -moz-background-size: 23%;
          -o-background-size: 23%;
          background-size: 23%; }
        article .content .left .feature-links ul #market {
          background: url("../img/icons_3.png") left top no-repeat;
          -webkit-background-size: 23%;
          -moz-background-size: 23%;
          -o-background-size: 23%;
          background-size: 23%; }
  article .content-area-container.mobile {
    display: none; }

.caption {
  border: 1px dashed #00a4b6;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px; }

footer {
  width: 100%;
  height: 211px; }
  footer #copyright {
    float: left;
    margin: 19px 0px 0px 2%; }
    footer #copyright small {
      line-height: 16px; }
    footer #copyright #footer-logo {
      vertical-align: middle;
      margin-top: 20px; }
      footer #copyright #footer-logo img {
        display: inline-block;
        vertical-align: middle; }
  footer #footer-logo-mobile {
    display: none; }
  footer #social {
    float: right; }
    footer #social span {
      display: block;
      margin: 19px 0px 10px 0px; }
    footer #social ul {
      list-style: none;
      display: block;
      float: right; }
      footer #social ul li {
        float: left; }
        footer #social ul li img {
          padding-left: 6px; }

.social-icon {
  width: 28px;
  height: 25px; }

#home #cluster {
  width: 40%; }
  #home #cluster img {
    width: 100%; }

#services article .content-area-container .description .menu.mobile {
  display: none; }

#services-detail article .banner .content img {
  width: 100%; }
#services-detail article .content-area-container .description {
  width: 100%; }
  #services-detail article .content-area-container .description .content-area {
    display: block;
    background: none;
    width: 100%;
    padding: 0px 20px; }
    #services-detail article .content-area-container .description .content-area .subheader {
      margin: 20px 0; }
      #services-detail article .content-area-container .description .content-area .subheader h1 {
        text-transform: none; }
    #services-detail article .content-area-container .description .content-area h1 {
      color: #00758c;
      font-size: 21pt;
      padding: 10px 0 10px 0; }
    #services-detail article .content-area-container .description .content-area h2 {
      font-size: 16pt; }
  #services-detail article .content-area-container .description .menu {
    float: none;
    display: block;
    width: 100%; }
    #services-detail article .content-area-container .description .menu ul {
      height: 68px; }
      #services-detail article .content-area-container .description .menu ul li {
        background: none;
        float: left;
        width: 33%;
        height: 48px;
        border-right: 1px solid white;
        padding: 10px 0px;
        text-align: center;
        text-transform: uppercase; }
        #services-detail article .content-area-container .description .menu ul li span {
          color: white;
          width: 100%;
          font-size: 13pt;
          height: 100%;
          width: 100%;
          display: block; }
        #services-detail article .content-area-container .description .menu ul li a {
          color: white;
          text-decoration: none;
          height: 100%;
          width: 100%;
          display: block; }
  #services-detail article .content-area-container .description .detail-img {
    text-align: center; }

#case-studies article .banner {
  border-color: #00a4b6; }
#case-studies article .content-area-container {
  background-color: white; }
  #case-studies article .content-area-container .description .content-area {
    display: none; }
    #case-studies article .content-area-container .description .content-area .subheader {
      background-color: whitesmoke;
      height: 69px;
      margin: 0; }
      #case-studies article .content-area-container .description .content-area .subheader h1 {
        padding-top: 16px;
        color: #00a4b6; }
  #case-studies article .content-area-container .description .content-area.active {
    display: block; }
  #case-studies article .content-area-container .description .menu {
    min-width: 280px; }
    #case-studies article .content-area-container .description .menu ul li {
      background: none;
      background-color: white;
      padding-left: 10px;
      width: 97%; }
      #case-studies article .content-area-container .description .menu ul li:first-child {
        background: none; }
      #case-studies article .content-area-container .description .menu ul li:nth-child(2) {
        background: none; }
      #case-studies article .content-area-container .description .menu ul li:nth-child(3) {
        background: none; }
      #case-studies article .content-area-container .description .menu ul li:nth-child(4) {
        background: none; }
      #case-studies article .content-area-container .description .menu ul li span {
        padding-bottom: 21px; }
    #case-studies article .content-area-container .description .menu ul li.active {
      background-color: #ebebeb; }
      #case-studies article .content-area-container .description .menu ul li.active span {
        color: #00a4b6; }
  #case-studies article .content-area-container .description .menu.mobile {
    display: none; }
    #case-studies article .content-area-container .description .menu.mobile ul li {
      background-color: #97d8e7; }
      #case-studies article .content-area-container .description .menu.mobile ul li span {
        color: white; }

#services-detail article .content-area-container .description .menu ul li {
  background-color: #31af90; }
#services-detail article .content-area-container .description .content-area .detail-content .detail-text p {
  padding-bottom: 20px; }
#services-detail article .content-area-container .description .content-area .detail-content .detail-text ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none; }
#services-detail article .content-area-container .description .content-area .detail-content .detail-text li:before {
  content: "";
  border-color: transparent #00768d;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: inline-block;
  height: 0;
  width: 0; }
#services-detail article .content-area-container .description .content-area .detail-content .detail-text li {
  margin-bottom: 20px; }
  #services-detail article .content-area-container .description .content-area .detail-content .detail-text li span {
    margin-left: 10px; }

#case-studies-landing article {
  background: url("../img/case-studies-home-bg.jpg") center top no-repeat;
  height: 743px;
  width: 100%;
  display: block; }
  #case-studies-landing article img.tablet {
    display: none; }
  #case-studies-landing article img.mobile {
    display: none; }
  #case-studies-landing article .cs-logo {
    border-radius: 50%;
    behaviour: url(PIE.htc);
    width: 100px;
    height: 100px;
    background-color: #cccccc;
    opacity: 0.5; }
    #case-studies-landing article .cs-logo a {
      height: 100px;
      display: inline-block; }
    #case-studies-landing article .cs-logo img {
      width: 90%;
      margin-top: 37px;
      margin-left: 6px;
      opacity: 1; }
  #case-studies-landing article .cs-logo:hover {
    background-color: transparent;
    border: 10px solid #31af90; }
  #case-studies-landing article #study-1 {
    margin-top: 10%;
    margin-left: 10%; }
  #case-studies-landing article #study-1:hover {
    margin-top: 9.5%;
    margin-left: 9%; }
#case-studies-landing .content.mobile {
  display: none; }

#services article, #contact article, #services-detail article {
  background: none; }

#contact article .banner {
  border-bottom: 30px solid #97d8e7; }
#contact .content-area {
  background: none; }
  #contact .content-area #mobile-contact {
    display: none; }
  #contact .content-area .left {
    width: 70%; }
  #contact .content-area .right {
    width: 20%;
    line-height: 1.5em; }
    #contact .content-area .right a {
      text-decoration: none; }
    #contact .content-area .right ul {
      list-style: none; }
      #contact .content-area .right ul:first-child {
        margin-top: 33%; }
      #contact .content-area .right ul li {
        margin-bottom: 20px; }
        #contact .content-area .right ul li p {
          display: block; }
        #contact .content-area .right ul li h3 {
          margin-bottom: 5px; }
        #contact .content-area .right ul li .web li {
          float: left;
          margin-right: 3px;
          margin-bottom: 0; }
  #contact .content-area #contact-form {
    margin: 20px 0 20px 0; }
    #contact .content-area #contact-form form {
      margin: 20px 0; }
      #contact .content-area #contact-form form .right, #contact .content-area #contact-form form .left {
        width: 45%; }
      #contact .content-area #contact-form form label {
        display: inline-block !important; }
      #contact .content-area #contact-form form input, #contact .content-area #contact-form form button {
        border: 0px; }
      #contact .content-area #contact-form form input {
        background-color: #ebebeb;
        color: #acacac;
        width: 96%;
        height: 45px;
        margin-bottom: 10px;
        padding: 9px;
        font-size: 12pt; }
        #contact .content-area #contact-form form input:focus {
          background-color: #31af90;
          color: white; }
          #contact .content-area #contact-form form input:focus.placeholder {
            color: white; }
          #contact .content-area #contact-form form input:focus:-moz-placeholder {
            color: white; }
          #contact .content-area #contact-form form input:focus::-moz-placeholder {
            color: white; }
          #contact .content-area #contact-form form input:focus:-ms-input-placeholder {
            color: white; }
          #contact .content-area #contact-form form input:focus::-webkit-input-placeholder {
            color: white; }
        #contact .content-area #contact-form form input.placeholder {
          font-size: 12pt;
          height: 100%; }
        #contact .content-area #contact-form form input:-moz-placeholder {
          font-size: 12pt;
          height: 100%; }
        #contact .content-area #contact-form form input::-moz-placeholder {
          font-size: 12pt;
          height: 100%; }
        #contact .content-area #contact-form form input:-ms-input-placeholder {
          font-size: 12pt;
          height: 100%; }
        #contact .content-area #contact-form form input::-webkit-input-placeholder {
          font-size: 12pt;
          height: 100%; }
      #contact .content-area #contact-form form input:nth-child(2) {
        float: right; }
      #contact .content-area #contact-form form button {
        background-color: #31af90;
        color: white;
        height: 45px;
        width: 20%;
        float: right;
        font-size: 12pt; }
      #contact .content-area #contact-form form textarea {
        font-size: 12pt;
        font-family: "Open Sans", sans-serif;
        display: block;
        width: 98%;
        height: 150px;
        background-color: #ebebeb;
        color: #acacac;
        margin-bottom: 10px;
        padding: 10px;
        border: 0px; }
        #contact .content-area #contact-form form textarea:focus {
          background-color: #31af90;
          color: white; }
          #contact .content-area #contact-form form textarea:focus.placeholder {
            color: white; }
          #contact .content-area #contact-form form textarea:focus:-moz-placeholder {
            color: white; }
          #contact .content-area #contact-form form textarea:focus::-moz-placeholder {
            color: white; }
          #contact .content-area #contact-form form textarea:focus:-ms-input-placeholder {
            color: white; }
          #contact .content-area #contact-form form textarea:focus::-webkit-input-placeholder {
            color: white; }

@media only screen and (max-width: 1250px) {
  .content {
    width: 100%; } }
@media only screen and (max-width: 1175px) {
  #contact .content-area #contact-form {
    width: 95%;
    padding: 0 3%;
    margin-top: 0px; }
    #contact .content-area #contact-form p {
      display: none; }
    #contact .content-area #contact-form form input {
      padding: 1%; }
  #contact .content-area .left {
    display: block; }
  #contact .content-area .right {
    display: block;
    float: left;
    width: 95%;
    padding: 0 3%; }
    #contact .content-area .right ul:first-child {
      margin-top: 10px; }
  #contact .content-area #mobile-contact {
    display: block; }
    #contact .content-area #mobile-contact p {
      padding: 20px 0; }
  #contact .content-area #desktop-contact {
    display: none; } }
@media only screen and (max-width: 891px) {
  article .content-area-container .description .menu ul li span {
    padding-top: 11px; }

  #case-studies article .banner .content img {
    width: 100%; }
  #case-studies article .content-area-container .description {
    width: 100%; }
    #case-studies article .content-area-container .description .menu.desktop {
      display: none; }
    #case-studies article .content-area-container .description .menu.mobile {
      display: block; }
    #case-studies article .content-area-container .description .menu {
      float: none;
      display: block;
      width: 100%; }
      #case-studies article .content-area-container .description .menu ul {
        height: 68px; }
        #case-studies article .content-area-container .description .menu ul li {
          background: none;
          float: left;
          width: 33%;
          height: 48px;
          border-right: 1px solid white;
          padding: 10px 0px;
          text-align: center;
          text-transform: uppercase;
          background-color: #31af90; }
          #case-studies article .content-area-container .description .menu ul li span {
            color: white;
            width: 100%;
            font-size: 13pt; }
          #case-studies article .content-area-container .description .menu ul li a {
            color: white;
            text-decoration: none; }
    #case-studies article .content-area-container .description .detail-img {
      text-align: center; }
    #case-studies article .content-area-container .description .content-area {
      background: none;
      width: 100%;
      padding: 0px 20px; }
      #case-studies article .content-area-container .description .content-area .subheader {
        margin: 20px 0 0px 0;
        background-color: transparent; }
        #case-studies article .content-area-container .description .content-area .subheader h1 {
          text-transform: none; }
      #case-studies article .content-area-container .description .content-area h1 {
        color: #00758c;
        font-size: 21pt;
        padding: 10px 0 10px 0; }
      #case-studies article .content-area-container .description .content-area h2 {
        font-size: 16pt; }
      #case-studies article .content-area-container .description .content-area .detail-content .floated-text {
        padding: 30px 0px 0px 0px; }
        #case-studies article .content-area-container .description .content-area .detail-content .floated-text p {
          padding-bottom: 20px; }
        #case-studies article .content-area-container .description .content-area .detail-content .floated-text ul {
          margin: 0.75em 0;
          padding: 0 1em;
          list-style: none; }
        #case-studies article .content-area-container .description .content-area .detail-content .floated-text li:before {
          content: "";
          border-color: transparent #00768d;
          border-style: solid;
          border-width: 0.35em 0 0.35em 0.45em;
          display: inline-block;
          height: 0;
          width: 0; }
        #case-studies article .content-area-container .description .content-area .detail-content .floated-text li {
          margin-bottom: 20px; }
          #case-studies article .content-area-container .description .content-area .detail-content .floated-text li span {
            margin-left: 10px; } }
@media only screen and (max-width: 774px) {
  #services article {
    text-align: center; }
    #services article .banner .content img {
      width: 100%; }
    #services article .content-area-container {
      display: none; }
    #services article .content-area-container.mobile {
      display: block; }
      #services article .content-area-container.mobile .mobile-icon {
        display: block; } }
@media only screen and (max-width: 767px) {
  article .content .left .feature-links {
    height: 50%; }
    article .content .left .feature-links #construction {
      font-size: 18px; }
    article .content .left .feature-links ul li {
      height: 57px; }

  .nav {
    left: 70.8%; }
    .nav #menu-text {
      display: none; }

  #navigation-menu #menu-text {
    display: inline-block; }

  footer #copyright {
    text-align: center;
    width: 100%; }
    footer #copyright #footer-logo {
      display: none; }
  footer #footer-logo-mobile {
    width: 50%;
    text-align: center;
    float: left;
    display: block; }
    footer #footer-logo-mobile span {
      margin: 19px 0px 10px 0px;
      display: block; }
    footer #footer-logo-mobile img {
      display: block;
      margin: 0 auto; }
  footer #social {
    width: 50%;
    text-align: center;
    float: left; }
    footer #social ul {
      float: none;
      display: inline-block; }

  #case-studies-landing article {
    background: url("../img/home-bg.png") no-repeat left top;
    background-size: 100% 100%;
    height: 100%; }
    #case-studies-landing article .content.desktop {
      display: none; }
    #case-studies-landing article img.tablet {
      display: block;
      width: 100%; }
  #case-studies-landing .content.mobile {
    display: block; }
    #case-studies-landing .content.mobile li {
      padding: 10px 20px 10px 40px;
      border-bottom: 1px solid #dedede; }
      #case-studies-landing .content.mobile li a {
        color: #00a4b6;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none; }
      #case-studies-landing .content.mobile li:nth-child(4) {
        border: none; } }
@media only screen and (max-width: 675px) {
  article .banner .content img {
    display: none; }
  article .banner .content img.mobile {
    display: block; }

  #contact article .banner .content img {
    display: block; } }
@media only screen and (max-width: 620px) {
  #case-studies-landing article img.tablet {
    display: none; }
  #case-studies-landing article img.mobile {
    display: block; } }
@media only screen and (max-width: 575px) {
  header .content .right #logo {
    margin-top: 0;
    position: relative;
    top: 41%; }

  #services-detail article .content-area-container .description .content-area {
    width: 87%; } }
@media only screen and (max-width: 430px) {
  .nav {
    left: 53.8%; } }
